/**
 * BASE ELEMENTS
 */
/* @TODO Remove `.html` when `theme-caltech` class is removed from theme. */
.html.theme-caltech h1,
.html.theme-caltech h2,
.html.theme-caltech h3,
.html.theme-caltech h4,
.html.theme-caltech h5,
.html.theme-caltech h6 {
  font-family: $font-family-sans-serif;
}

.theme-caltech b,
.theme-caltech strong {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.theme-caltech.not-front .section-wrapper .main-content .content ol,
.theme-caltech.not-front .section-wrapper .main-content .content ul {
  margin-left: 0;
  overflow: hidden;
  padding-bottom: ($column-gutter / 2);
  padding-left: ($column-gutter / 2);
  position: relative;
}
.theme-caltech.not-front .section-wrapper .main-content .content p + ol,
.theme-caltech.not-front .section-wrapper .main-content .content p + ul {
  padding-bottom: 0;
  padding-top: 0;
}
.theme-caltech.not-front .section-wrapper .main-content .content ul[class*="-block-grid-"] {
  left: 0;
}

.theme-caltech .section-wrapper {
  margin: 0;
}

.theme-caltech .ui-widget {
  clear: both;
  font-family: $font-family-sans-serif;
}
