$black: #000; // rgb(0, 0, 0);
$flamenco: #ff720c; // rgb(255, 114, 12); orange
$shuttle: #696b73; // rgb(105, 107, 115); gray
$silver: #c8c8c8; // rgb(200, 200, 200);
$tundora: #444; // rgb(68, 68, 68); darkgray
$white: #fff; // rgb(255, 255, 255);

$text-color: $tundora;
