//
// COLORS
//
// @see http://chir.ag/projects/name-that-color/ for color name suggestions.
//
$black: #000; // rgb(0, 0, 0);
$orange: #ff6e1e; // rgb(255, 110, 30);
$persian-green: #00afab; // rgb(0, 175, 171); light teal
$regal-blue: #00506d; // rgb(0, 80, 109);
$shuttle: #696b73; // rgb(105, 107, 115); gray
$silver: #c8c8c8; // rgb(200, 200, 200);
$solid-pink: #7a303f; // rgb(122, 48, 63); maroon
$white: #fff; // rgb(255, 255, 255);
