/**
 * HEADER
 */

/**
 * Top Header
 */
.theme-caltech #top-header {
  height: auto;
}

.theme-caltech #top-header #block-views-hours-today-top {
  margin-left: 0;
}
.theme-caltech #top-header .top-menu {
  padding: 0 ($column-gutter) 0 0;
  .content li a {
    font-size: 0.75rem;
    letter-spacing: normal;
  }
}
.theme-caltech #top-header #block-hf-basic-search-hf-basic-search {
  bottom: 0;
  margin-right: 0;
  position: absolute;
  right: ($column-gutter / 2);
  width: auto;
}

// See `_nav.scss` for Main Menu styles.

.theme-caltech #header {
  // subtract the bottom padding value from search resources items
  margin-bottom: (($column-gutter / 2) - ($column-gutter / 4));
  @media #{$medium-up} {
    margin-bottom: ($column-gutter / 2);
  }
}
