/**
 * HOME PANEL
 */
.theme-caltech .panel-flexible.home .panels-flexible-row {
  margin-bottom: $column-gutter;
  width: 100%;
}

/**
 * Rows
 */
// Set up margins and padding for background colors.
.theme-caltech .backgrounded {
  .panels-flexible-row-inside {
    @media #{$medium-only} {
      flex-wrap: wrap;
    }
    @media #{$large-up} {
      // We set padding on the parent for the right side background to show
      // through because adding an extra right side margin on the last item
      // causes the percent calculation to be inaccurate, especially for the
      // 25% width callout boxes.
      padding-right: ($column-gutter / 4);
    }
  }
  .cta-callout .inner-content > div,
  .panels-flexible-region {
    @media #{$medium-only} {
      flex: 1 0 50%;
    }
    & > span,
    .panels-flexible-region-inside {
      margin-bottom: 0; // override _base-module.scss:150
      margin-left: ($column-gutter / 4);
      margin-right: ($column-gutter / 4);
      margin-top: ($column-gutter / 4);
      @media #{$medium-up} {
        margin-bottom: ($column-gutter / 4);
        margin-right: 0;
      }
    }
  }
  .panels-flexible-region-first {
    @media #{$medium-only} {
      flex: 1 0 100%;
    }
    .panels-flexible-region-inside {
      @media #{$medium-only} {
        margin-bottom: 0;
      }
    }
  }
  .cta-callout .inner-content > div:last-of-type,
  .panels-flexible-region-last {
    @media #{$medium-up} {
      float: right !important; // override _cta-callout.scss:4
      margin-right: 0 !important; // override _base-module.scss:178
    }
    & > span,
    .panels-flexible-region-inside {
      margin-bottom: ($column-gutter / 4);
    }
  }
  .cta-callout .columns + .columns:last-child > span { // override _cta-callout.scss:230
    margin-right: ($column-gutter / 4);
    @media #{$medium-up} {
      margin-right: 0;
    }
  }
}
// Allow for bordered boxes on callouts.
// Include `boxed` class in panel row.
.theme-caltech .boxed .cta-callout {
  background-color: $white;
  .inner-content {
    & > div {
      & > span {
        background-color: $silver;
        border: 1px solid $shuttle !important;
        margin-bottom: ($column-gutter / 4);
        margin-top: 0;
        padding: 0;
      }
    }
  }
  .imgHolder {
    margin: 0;
  }
  .wrap-details {
    padding-left: ($column-gutter / 4);
    @media #{$medium-up} {
      padding-left: 0;
    }
  }
  .columns + .columns:last-child .imgHolder { // override _cta-callout.scss:230
    margin-right: 0;
  }
  .columns + .columns:last-child .wrap-details { // override _cta-callout.scss:230
    margin-right: 0;
  }
}
// Background color options.
// Include `backgrounded` class in panel row along with pre-defined color class.
.theme-caltech .backgrounded {
  &.persian-green {
    .cta-callout,
    .flexslider,
    .panels-flexible-row-inside,
    &.triptych-top .panels-flexible-region:first-of-type .panels-flexible-region-inside {
      background-color: $persian-green;
    }
  }
  &.regal-blue {
    .cta-callout,
    .flexslider,
    .panels-flexible-row-inside,
    &.triptych-top .panels-flexible-region:first-of-type .panels-flexible-region-inside {
      background-color: $regal-blue;
    }
  }
  &.solid-pink {
    .cta-callout,
    .flexslider,
    .panels-flexible-row-inside,
    &.triptych-top .panels-flexible-region:first-of-type .panels-flexible-region-inside {
      background-color: $solid-pink;
    }
  }
}
.theme-caltech .boxed {
  .panels-flexible-row-inside {
    background-color: $white;
  }
  .cta-callout {
    .inner-content {
      & > div {
        & > span {
          background-color: $silver;
          border-color: $shuttle !important;
        }
      }
    }
  }
}

/**
 * Notices
 */
.theme-caltech .home .notices .panels-flexible-row-inside {
  background-color: transparent;
  // Add margin bottom in case there are pane items besides the notices view.
  .p-item:not(:last-of-type) {
    margin-bottom: ($column-gutter / 2);
  }
}
// Override general panel pane padding.
.theme-caltech .home .notices .pane-notices-panel-pane,
.theme-caltech .home .notices .pane-notices-admin-links-panel-pane {
  padding: 0;
}
.theme-caltech .notice {
  padding: ($column-gutter / 2);
  position: relative;
  text-align: center;
  // Add margin between notices.
  &:not(:last-of-type) {
    margin-bottom: ($column-gutter / 2);
  }
  &.alert {
    background-color: lighten($cinnabar, 20%);
  }
  &.info {
    background-color: lighten($cerulean, 20%);
  }
  &.warning {
    background-color: lighten($corn, 20%);
    // Override Drupal `.warning` style.
    background-image: none;
    // Override Drupal `.warning` style.
    color: $black;
  }
  .date-display-range {
    display: inline-block;
  }
  .edit-link {
    left: 0;
    position: absolute;
    top: 0;
  }
}
.theme-caltech .home .notices .cerulean {
  background-color: rgba($cerulean, 0.5);
}
.theme-caltech .home .notices .orange {
  background-color: lighten($orange, 40%);
  border: 1px solid $orange;
}

/**
 * FlexSlider
 *
 * Override default FlexSlider styles. The `.flexslider` class was also added
 * above in the "Background color options" section.
 */
.theme-caltech .flexslider {
  border: none;
  border-radius: 0;
  margin: 0;
  overflow: hidden;
  .views-field-field-slideshow-image {
    max-height: none;
    @media #{$medium-only} {
      width: percentage(2/3);
    }
  }
  .flex-caption {
    background-image: linear-gradient(to bottom, transparent, rgba($black, 0.8));
    bottom: 0;
    color: $white;
    font-family: VaudMedium, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    padding: ($column-gutter * 2) ($column-gutter / 2) ($column-gutter / 2);
    position: absolute;
    text-align: right;
    width: 100%;
    @media #{$medium-only} {
      background-image: none;
      padding: 0 ($column-gutter / 4);
      right: 0;
      text-align: left;
      width: percentage(1/3);
    }
    a {
      color: $white;
      &::after {
        color: $orange;
        content: "\f0da";
        font-family: fontAwesome;
        margin-left: ($column-gutter / 4);
      }
    }
  }
  .flex-direction-nav a {
    height: ($column-gutter * 2);
    &::before {
      color: $orange;
      font-family: fontAwesome;
      text-shadow: none;
    }
    &.flex-next::before {
      content: "\f0da";
    }
    &.flex-prev::before {
      content: "\f0d9";
    }
  }
}

/**
 * Slider
 */
.theme-caltech .panel-flexible.home .pane-views-home-slider-block {
  padding: 0;
}
.theme-caltech .view-home-slider {
  position: relative;
  .views-field-edit-node {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10;
  }
}

/**
 * Panel Panes
 */
.theme-caltech .panels-flexible-region .blk-title {
  padding: ($column-gutter / 2);
}
.theme-caltech .panels-flexible-region .panel-pane {
  margin: 0;
  padding: ($column-gutter / 2);
}

/**
 * Panel Pane Menus
 */
.theme-caltech .panel-flexible.home .pane-menu {
  padding-top: 0;
  .menu {
    margin: 0;
  }
  .leaf {
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    &::before {
      color: $orange;
    }
  }
}
.theme-caltech .panel-flexible.home .pane-views-quick-links-block {
  padding-top: 0;
}

/**
 * Services
 */
.theme-caltech .home .services .panels-flexible-row-inside {
  background-color: $white;
}
.theme-caltech .view-id-home_services .views-field-field-title {
  margin-top: ($column-gutter / 4);
}

/**
 * Panel Pane More Links
 */
.theme-caltech .panel-flexible.home .more-link {
  bottom: ($column-gutter / 2);
  position: absolute;
  right: ($column-gutter / 2);
}

/**
 * Events
 */
.theme-caltech .view-home-events {
  padding: 0;
}
.theme-caltech .view-home-events .view-content {
  margin-bottom: $column-gutter;
}
.theme-caltech .view-home-events .views-field-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.theme-caltech .view-home-events .date-display-range {
  display: inline;
}

/**
 * CaltechAUTHORS
 */
.theme-caltech .pane-caltechlibrary-customizations-caltechauthors {
  .publication-list {
    margin-bottom: $column-gutter;
  }
  // @TODO Adjust this in the theme: modules/_base-module.scss
  .article:not(:nth-child(-n+2)) {
    display: block;
  }
  .article:not(:nth-child(-n+3)) {
    display: none;
  }
  .article:nth-child(2) {
    margin-bottom: 1.25rem;
  }
}
