/**
 * IMAGE STYLES
 *
 * Image style machine names are created with the pattern: alignment_size. This
 * way we can use attribute selectors to target the same alignments together.
 */
img {
  &[class*="file-block-"] {
    display: block;
    margin-bottom: ($column-gutter / 2);
  }
  &[class*="file-center-"] {
    display: block;
    margin: 0 auto;
  }
  &[class*="file-left-"] {
    clear: left;
    float: left;
    margin-bottom: ($column-gutter / 2);
    margin-right: ($column-gutter / 2);
  }
  &[class*="file-right-"] {
    clear: right;
    float: right;
    margin-bottom: ($column-gutter / 2);
    margin-left: ($column-gutter / 2);
  }
}
