//
// MIXINS
//

// Remove margins when using Foundation block grid lists.
@mixin block-grid-list() {
  margin: 0;
  li {
    padding-left: 0;
    padding-right: 0;
  }
}

// Assumes parent element has `position: relative;` rule.
@mixin image-title-link() {
  background-image: linear-gradient(to bottom, transparent, rgba($black, 0.8));
  bottom: 0;
  font-size: 1rem;
  padding: ($column-gutter * 2) ($column-gutter / 4) ($column-gutter / 2) ($column-gutter / 2);
  position: absolute;
  text-align: right;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  &::after {
    color: $orange;
    content: " ▸";
  }
  a {
    color: $white;
    font-family: $font-family-sans-serif-heavy;
    font-size: 1rem;
  }
}
