/**
 * NAVIGATION
 */

/**
 * Main Menu
 */
.theme-caltech #header .main-nav {
  border-bottom: 1px solid $orange;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded:hover > a {
  color: $shuttle;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul li a.active,
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul li a:hover {
  background-color: $orange;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a {
  font-weight: normal;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a.active-trail {
  color: $shuttle;
}
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a.active-trail::before,
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a.active.active-trail::before {
  bottom: -18px;
  color: $orange;
}

/**
 * Sidebar Menu
 */
// @TODO This should probably be fixed in the theme: layout/_child-sub-menu.scss
.theme-caltech .child-submenu ul {
  li {
    &:last-child a {
      border-bottom: 1px solid $mercury;
    }
    a {
      padding: ($column-gutter / 4);
    }
  }
  ul li a {
    padding-left: $column-gutter;
  }
}
