/**
 * Styling for the Staff Directory.
 */

.theme-caltech {
  .staff-facet {
    .leaf {
      list-style: none;
      margin-left: 0.5rem; /* text-relative units seem most appropriate */
      input[type="checkbox"] {
        margin-bottom: 0;
        margin-right: 0.5rem;  /* text-relative units seem most appropriate */
      }
    }
  }
  .staff-list {
    .staff-item {
      padding-bottom: $column-gutter;
      @media #{$medium-up} {
        &:nth-child(even) {
          .text-wrapper {
            border-left: thin solid $silver;
          }
        }
      }
      .edit-link {
        position: absolute;
        right: 0;
        top: 0;
      }
      @media #{$small-only} {
        width: 100%;
      }
    }
  }
}
