/**
 * TOP HEADER
 */
.theme-caltech #top-header #block-menu-menu-top-menu {
  margin-right: (0.9375rem * 4);
}
.theme-caltech #top-header #block-hf-basic-search-hf-basic-search {
  bottom: 0;
  position: absolute;
  right: 0.9375rem;
}

// @TODO Rewrite with Sass.
.theme-caltech #top-header {
  background: #76777b;
  color: white;
  display: block;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
}
.theme-caltech #top-header .view-hours-today .views-field-hours {
  padding-left: 0.375em;
}
/**
 * Normally the .inline-list class would be added to the UL tags, but we cannot
 * add those without theme functions. Instead all the styles from Foundation
 * inline lists have been added here to the UL tags.
 */
.theme-caltech #top-header #block-menu-menu-top-menu ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.25rem;
  margin-left: 0.9375rem;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
}
.theme-caltech #top-header #block-menu-menu-top-menu ul > li {
  display: block;
  float: left;
  list-style: none;
  padding-top: 0;
}
.theme-caltech #top-header #block-menu-menu-top-menu .last {
  padding-right: 0;
}
.theme-caltech #top-header a {
  color: white;
  font-size: 0.75rem;
}
.theme-caltech #top-header .libchat_online,
.theme-caltech #top-header .libchat_offline {
  border: 0 !important;
  padding: 0 !important;
  font-size: 0.75rem;
}
