@charset "UTF-8";
/**
 * BASE ELEMENTS
 */
/* @TODO Remove `.html` when `theme-caltech` class is removed from theme. */
.html.theme-caltech h1,
.html.theme-caltech h2,
.html.theme-caltech h3,
.html.theme-caltech h4,
.html.theme-caltech h5,
.html.theme-caltech h6 {
  font-family: "Vaud", Arial, sans-serif; }

.theme-caltech b,
.theme-caltech strong {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.theme-caltech.not-front .section-wrapper .main-content .content ul {
  padding-bottom: 1rem; }

.theme-caltech .section-wrapper {
  margin: 0; }

.theme-caltech .ui-widget {
  font-family: "Vaud", Arial, sans-serif; }

/**
 * FOOTER
 */
.theme-caltech #footer {
  margin-top: 0; }
  .theme-caltech #footer .section {
    background-color: #696b73;
    padding-bottom: 0.9375rem;
    padding-top: 1.875rem; }

/**
 * HEADER
 */
/**
 * Top Header
 */
/* @TODO Remove `html` class when `theme-caltech` is removed from theme. */
.html.theme-caltech #top-header {
  height: auto; }

.theme-caltech #top-header #block-views-hours-today-top {
  margin-left: 0; }

.theme-caltech #top-header .top-menu {
  padding: 0 1.875rem 0 0; }
  .theme-caltech #top-header .top-menu .content li a {
    font-size: 0.75rem;
    letter-spacing: normal; }

.theme-caltech #top-header #block-hf-basic-search-hf-basic-search {
  bottom: 0;
  margin-right: 0;
  position: absolute;
  right: 0.9375rem;
  width: auto; }

.theme-caltech #header {
  margin-bottom: 0.46875rem; }
  @media only screen and (min-width: 40.0625em) {
    .theme-caltech #header {
      margin-bottom: 0.9375rem; } }

/**
 * HOME PANEL
 */
.theme-caltech .panel-flexible.home .panels-flexible-row {
  margin-bottom: 1.875rem;
  width: 100%; }

/**
 * Rows
 */
@media only screen and (min-width: 40.0625em) {
  .theme-caltech .backgrounded .panels-flexible-row-inside {
    padding-right: 0.46875rem; } }
.theme-caltech .backgrounded .cta-callout .inner-content > div > span,
.theme-caltech .backgrounded .cta-callout .inner-content > div .panels-flexible-region-inside,
.theme-caltech .backgrounded .panels-flexible-region > span,
.theme-caltech .backgrounded .panels-flexible-region .panels-flexible-region-inside {
  margin-bottom: 0;
  margin-left: 0.46875rem;
  margin-right: 0.46875rem;
  margin-top: 0.46875rem; }
  @media only screen and (min-width: 40.0625em) {
    .theme-caltech .backgrounded .cta-callout .inner-content > div > span,
    .theme-caltech .backgrounded .cta-callout .inner-content > div .panels-flexible-region-inside,
    .theme-caltech .backgrounded .panels-flexible-region > span,
    .theme-caltech .backgrounded .panels-flexible-region .panels-flexible-region-inside {
      margin-bottom: 0.46875rem;
      margin-right: 0; } }
@media only screen and (min-width: 40.0625em) {
  .theme-caltech .backgrounded .cta-callout .inner-content > div:last-of-type,
  .theme-caltech .backgrounded .panels-flexible-region-last {
    float: right !important;
    margin-right: 0 !important; } }
.theme-caltech .backgrounded .cta-callout .inner-content > div:last-of-type > span,
.theme-caltech .backgrounded .cta-callout .inner-content > div:last-of-type .panels-flexible-region-inside,
.theme-caltech .backgrounded .panels-flexible-region-last > span,
.theme-caltech .backgrounded .panels-flexible-region-last .panels-flexible-region-inside {
  margin-bottom: 0.46875rem; }
.theme-caltech .backgrounded .cta-callout .columns + .columns:last-child > span {
  margin-right: 0.46875rem; }
  @media only screen and (min-width: 40.0625em) {
    .theme-caltech .backgrounded .cta-callout .columns + .columns:last-child > span {
      margin-right: 0; } }

.theme-caltech .boxed .cta-callout {
  background-color: #fff; }
  .theme-caltech .boxed .cta-callout .inner-content > div > span {
    background-color: #c8c8c8;
    border: 1px solid #696b73 !important;
    margin-bottom: 0.46875rem;
    margin-top: 0;
    padding: 0; }
  .theme-caltech .boxed .cta-callout .imgHolder {
    margin: 0; }
  .theme-caltech .boxed .cta-callout .wrap-details {
    padding-left: 0.46875rem; }
    @media only screen and (min-width: 40.0625em) {
      .theme-caltech .boxed .cta-callout .wrap-details {
        padding-left: 0; } }
  .theme-caltech .boxed .cta-callout .columns + .columns:last-child .imgHolder {
    margin-right: 0; }
  .theme-caltech .boxed .cta-callout .columns + .columns:last-child .wrap-details {
    margin-right: 0; }

.theme-caltech .backgrounded.persian-green .cta-callout,
.theme-caltech .backgrounded.persian-green .panels-flexible-row-inside {
  background-color: #00afab; }
.theme-caltech .backgrounded.regal-blue .cta-callout,
.theme-caltech .backgrounded.regal-blue .panels-flexible-row-inside {
  background-color: #00506d; }
.theme-caltech .backgrounded.solid-pink .cta-callout,
.theme-caltech .backgrounded.solid-pink .panels-flexible-row-inside {
  background-color: #7a303f; }

.theme-caltech .boxed .panels-flexible-row-inside {
  background-color: #fff; }
.theme-caltech .boxed .cta-callout .inner-content > div > span {
  background-color: #c8c8c8;
  border-color: #696b73 !important; }

/**
 * Notices
 */
.theme-caltech .home .notices .panels-flexible-row-inside {
  background-color: transparent; }

.theme-caltech .home .notices .cerulean {
  background-color: rgba(0, 168, 226, 0.5); }

/**
 * Slider
 */
.theme-caltech .panel-flexible.home .pane-views-home-slider-block {
  padding: 0; }

/**
 * Panel Panes
 */
.theme-caltech .panels-flexible-region .blk-title {
  padding: 0.9375rem; }

.theme-caltech .panels-flexible-region .panel-pane {
  margin: 0;
  padding: 0.9375rem; }

/**
 * Panel Pane Menus
 */
.theme-caltech .panel-flexible.home .pane-menu .menu {
  margin: 0; }

.theme-caltech .panel-flexible.home .pane-menu .leaf {
  font-size: 1rem;
  list-style: none;
  margin: 0;
  padding: 0; }

.theme-caltech .panel-flexible.home .pane-menu .leaf::before {
  color: #ff6e1e;
  font-family: fontAwesome;
  font-size: 16px;
  content: "\f0da";
  left: 10px; }

.theme-caltech .panel-flexible.home .pane-menu .leaf a {
  margin-left: 7px; }

.theme-caltech .panel-flexible.home .pane-menu,
.theme-caltech .panel-flexible.home .pane-views-quick-links-block {
  padding-top: 0; }

/**
 * Services
 */
.theme-caltech .home .services .panels-flexible-row-inside {
  background-color: #fff; }

.theme-caltech .view-id-home_services .views-field-field-title {
  margin-top: 0.46875rem; }

/**
 * Panel Pane More Links
 */
.theme-caltech .panel-flexible.home .more-link {
  bottom: 0.9375rem;
  position: absolute;
  right: 0.9375rem; }

/**
 * Events
 */
.theme-caltech .view-home-events {
  padding: 0; }

.theme-caltech .view-home-events .view-content {
  margin-bottom: 1.875rem; }

.theme-caltech .view-home-events .views-field-title {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

/**
 * CaltechAUTHORS
 */
.theme-caltech .pane-caltechlibrary-customizations-caltechauthors .publication-list {
  margin-bottom: 1.875rem; }

.theme-caltech .pane-caltechlibrary-customizations-caltechauthors .article:not(:nth-child(-n+3)) {
  display: none; }

@media only screen and (min-width: 40.0625em) and (max-width: 64em) {
  /* min-width 641px and max-width 1024px, medium screens only */
  .theme-caltech .pane-caltechlibrary-customizations-caltechauthors .article:not(:nth-child(-n+2)) {
    display: none; } }
/**
 * IMAGE STYLES
 *
 * Image style machine names are created with the pattern: alignment_size. This
 * way we can use attribute selectors to target the same alignments together.
 */
img[class*="file-center-"] {
  display: block;
  margin: 0 auto; }
img[class*="file-left-"] {
  clear: left;
  float: left;
  margin-right: 0.9375rem; }
img[class*="file-right-"] {
  clear: right;
  float: right;
  margin-left: 0.9375rem; }

/**
 * LANDING PAGES
 */
.theme-caltech.landing-panel .main-content > div > .content {
  padding: 0; }
.theme-caltech.landing-panel .main-content .content .view-block-grid ul {
  margin: 0.46875rem;
  padding-top: 0.46875rem; }
.theme-caltech.landing-panel .view-landing-slider .views-row {
  margin-bottom: 0.9375rem;
  padding: 0 0.46875rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }
  .theme-caltech.landing-panel .view-landing-slider .views-row:not(.views-row-1) .views-field-title {
    display: none; }
  .theme-caltech.landing-panel .view-landing-slider .views-row:not(.views-row-1) .views-field-field-body {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
    bottom: 0;
    font-size: 1rem;
    padding: 3.75rem 0.46875rem 0.9375rem 0.9375rem;
    position: absolute;
    text-align: right;
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; }
    .theme-caltech.landing-panel .view-landing-slider .views-row:not(.views-row-1) .views-field-field-body::after {
      color: #ff6e1e;
      content: " ▸"; }
    .theme-caltech.landing-panel .view-landing-slider .views-row:not(.views-row-1) .views-field-field-body a {
      color: #fff;
      font-family: "VaudMedium", Arial, sans-serif;
      font-size: 1rem; }
.theme-caltech.landing-panel .view-landing-slider .views-row-1 .views-field-field-slideshow-image {
  background-color: #696b73; }
.theme-caltech.landing-panel .view-landing-slider .views-row-1 .views-fieldset.text-wrapper {
  color: #fff;
  padding: 0.9375rem;
  position: absolute;
  top: 0; }
.theme-caltech.landing-panel .view-landing-slider .views-fieldset.wrapper {
  position: relative; }
.theme-caltech.landing-panel .view-landing-slider .views-field-title {
  color: #fff;
  font-family: "VaudMedium", Arial, sans-serif;
  text-transform: uppercase; }

/**
 * MAIN MENU
 */
.theme-caltech #header .main-nav {
  border-bottom: 1px solid #ff6e1e; }

.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded:hover > a {
  color: #696b73; }

.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul li a.active,
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li.expanded > ul li a:hover {
  background-color: #ff6e1e; }

.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a {
  font-weight: normal; }

.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a.active-trail {
  color: #696b73; }

.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a.active-trail::before,
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a.active.active-trail::before {
  bottom: -18px;
  color: #ff6e1e; }

/**
 * BESPOKE PAGE ELEMENTS
 */
/**
 * Floor Plans
 */
.theme-caltech .field-name-body .floor-plans .media-element {
  border: 1px solid #c8c8c8; }

/**
 * SEARCH
 */
.theme-caltech:not(.front):not(.page-multisearch):not(.page-eds) #search {
  display: none; }

.theme-caltech .block-hf-stacks-search {
  background-color: #c8c8c8 !important;
  border: none;
  margin-bottom: 0.9375rem; }
  @media only screen and (max-width: 40em) {
    .theme-caltech .block-hf-stacks-search .content {
      padding: 0; } }
  .theme-caltech .block-hf-stacks-search .content input#searchSubmit,
  .theme-caltech .block-hf-stacks-search .content input#searchSubmit[disabled],
  .theme-caltech .block-hf-stacks-search .content input#searchSubmit[disabled]:hover {
    background-color: #ff6e1e !important;
    border: none; }

.theme-caltech .view-id-home_search_resources a:link, .theme-caltech .view-id-home_search_resources a:focus, .theme-caltech .view-id-home_search_resources a:active, .theme-caltech .view-id-home_search_resources a {
  background-color: #c8c8c8 !important;
  border: none;
  color: #000 !important;
  font-family: "Vaud", Arial, sans-serif;
  font-size: 1rem;
  padding: 0.75rem; }
  .theme-caltech .view-id-home_search_resources a:link:hover, .theme-caltech .view-id-home_search_resources a:focus:hover, .theme-caltech .view-id-home_search_resources a:active:hover, .theme-caltech .view-id-home_search_resources a:hover {
    color: #000 !important;
    text-decoration: underline; }
.theme-caltech .view-id-home_search_resources [class*="block-grid-"] > li {
  padding: 0 0.23438rem 0.46875rem; }
  @media only screen and (min-width: 40.0625em) {
    .theme-caltech .view-id-home_search_resources [class*="block-grid-"] > li {
      padding: 0 0.46875rem 0.9375rem; } }

.theme-caltech .main-content .search-note {
  margin-bottom: 1.875rem;
  margin-top: -1rem;
  padding: 0; }
  @media only screen and (min-width: 40.0625em) {
    .theme-caltech .main-content .search-note {
      margin-top: -2rem; } }

/**
 * VIEW: DIRECTORY
 */
.not-front .section-wrapper .main-content .view-directory .block-grid-list {
  margin: 0; }
  .not-front .section-wrapper .main-content .view-directory .block-grid-list li {
    padding-left: 0;
    padding-right: 0; }
.view-directory .large-6:only-of-type {
  width: 100%; }
