/**
 * HEADER
 */
/**
 * Top Header
 */
/* @TODO Remove `html` class when `theme-caltech` is removed from theme. */
.html.theme-caltech #top-header {
  height: auto; }

.theme-caltech #top-header #block-views-hours-today-top {
  margin-left: 0; }

.theme-caltech #top-header .top-menu {
  padding: 0 1.875rem 0 0; }
  .theme-caltech #top-header .top-menu .content li a {
    font-size: 0.75rem;
    letter-spacing: normal; }

.theme-caltech #top-header #block-hf-basic-search-hf-basic-search {
  bottom: 0;
  margin-right: 0;
  position: absolute;
  right: 0.9375rem;
  width: auto; }

/**
 * Main Menu
 */
.theme-caltech #header .main-nav .content .menu-block-wrapper > ul > li > a {
  font-weight: normal; }

/**
 * IMAGE STYLES
 *
 * Image style machine names are created with the pattern: alignment_size. This
 * way we can use attribute selectors to target the same alignments together.
 */
img[class*="file-center-"] {
  display: block;
  margin: 0 auto; }
img[class*="file-left-"] {
  float: left; }
img[class*="file-right-"] {
  float: right; }

/**
 * SEARCH
 */
.theme-caltech:not(.front):not(.page-multisearch):not(.page-eds) #search {
  display: none; }
